footer
{
    background-color: #0E0E0E;
    color: white;
    
    p
    {
        font-family: $Police-grostitres; 
        font-size:1.2rem;
        margin: 0;
        padding: 6% 0 6% 9%;
    }

    ul /* revoir les tailles des marges quand pb de font réglé*/
    {
        list-style: none; /* Rajouter font-family et font-size*/
        margin: 0 0 0 6%;
        padding: 0;

        li /* revoir les tailles des marges quand pb de font réglé*/
        {
            padding-bottom: 11px;
        }

            a
            {
                text-decoration: none;
                color: white;

                i
                {
                    padding-right: 6px;
                    font-size: 13px;
                }
            }
    }
}