@media all and (max-width: 426px)
{ 
    body
    {
        margin: 0;
    }

    .logo_OMF
    {
        width: 41%;
        display: block;
        margin: 21px auto 18px auto;
    }

    form
    {
        border: none;
        height: 55px;
        margin: 0;
        background-color: #EAEAEA; 
        text-align: center;

        i
        {
            font-size: 1.1rem;
            line-height: 55px;
        }
    }

    input
    {
        border: none;
        outline: none;
        text-align: center;
        line-height: 53px;
        background-color: #EAEAEA; 
        font-family: $Police-textenormal;
        font-size: 1.1rem;
        width: 35%;
    }


.Entete    
    {
        background-color: #F7F7F7;
        text-align: center;
        padding-bottom: 16%;

        h1
        {
            margin: 0;
            font-family: $Police-titres;
            font-size: 1.6rem;
            padding:11% 13% 0 13%;
        }  

        p
        {
            margin:0;
            padding: 16px 13px 33px 13px;
            font-family: $Police-texteextralight;
            font-size: 1.1rem;
        }
        
    }

.btn_header
    {
        margin: auto;
        padding: 15px 0 15px 0;
        background: linear-gradient(to bottom right, $Couleur_secondaire, $Couleur_premiere);
        font-family: $Police-textenormal;
        font-size: 1.1rem;
        color: white;
        border: 1px solid $Couleur_premiere;
        border-radius: 28px;
        width: 63%;
        box-shadow: 5px 5px 5px #e8e8e8;
    }

header h2
    {
        font-family: $Police-titres;
        font-size: 1.6rem;
        margin: 0;
        padding: 43px 0px 31px 16px; 
    }

}