    nav
    {
        display: flex;
        justify-content: flex-start;
    }

    .lien
    {
        text-align: center;
        font-size: 1.1rem;
        width: 16%;
        height: 69px;
        line-height: 72px;
        margin-left: 18px;

        a
        {
            color: black; 
        }

    }


    img
    {
        background-image: url(./images/ohmyfood.png);
        width:161px;        
        margin: 6% 29% 5% 15%
    }

    .Banniere_ALaFrancaise
        {
        background-image: url(../../images/images_index/A_la_francaise.jpg);
        height: 284px;
        background-size: cover;
        }

    .Banniere_LaNoteEnchantee
        {
            background-image: url(../../images/images_index/La_note_enchantee.jpg);
            height: 287px;
            background-size: cover;
            background-position: center;
        }

        .Banniere_LaPaletteDuGout
        {
            background-image: url(../../images/images_index/La_palette_du_gout.jpg);
            height: 264px;
            background-size: cover;
        }

        .Banniere_LeDeliceDesSens
        {
            background-image: url(../../images/images_index/Le_delice_des_sens.jpg);
            height: 264px;
            background-size: cover;
        }


    @media all and (min-width:426px) and (max-width:769px)
        {
            .lien
            {
                font-size: 1.5rem;
                line-height: 119px;
            }

            .Banniere_ALaFrancaise, .Banniere_LaPaletteDuGout, .Banniere_LaNoteEnchantee, .Banniere_LeDeliceDesSens
            {
                height: 381px
            }

        }

    @media all and (min-width:850px) and (max-width:2559px)
    {

        .lien
        {
            font-size: 1.5rem;
            line-height: 161px;
        }

        .Banniere_ALaFrancaise, .Banniere_LaPaletteDuGout, .Banniere_LaNoteEnchantee, .Banniere_LeDeliceDesSens
        {
            height: 491px
        }
    }

    @media all and (min-width:2559px)

    {
        body
        {
            margin: 0 450px 0 450px;
        }

        .lien
        {
            font-size: 1.5rem;
            line-height: 229px;
        }

        .Banniere_ALaFrancaise, .Banniere_LaPaletteDuGout, .Banniere_LaNoteEnchantee, .Banniere_LeDeliceDesSens
        {
            height: 534px
        }
}
        