.MainPages
{
    margin-top: -16%;
    background-color: #F7F7F7;
    width: 100%;
    border-radius: 39px 39px 0 0;
    padding-bottom: 16%;

    .TitrePrincipal_Pages
    {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;

        .TitreRestau
        {
            font-size: 1.7rem;
            font-weight: 400;
            font-family: $Police-grostitres;
            padding: 28px 0 0 18px;
            margin: 0;
        }

        i
        {
            padding: 38px 33px 0 0;
            font-size: 1.3rem;
            color: white;
            -webkit-text-stroke: 1px black;
        }

    }

    .SousTitre_Page
    {
        font-family: $Police-texteextralight;
        font-size: 1rem;
        margin: 0;
        padding: 28px 0 0 9px;
    }

    hr
    {
        margin-left: 9px;
        width: 11%;
        border-bottom: 2px solid $couleur_tertiaire;
        border-color: $couleur_tertiaire;
    }

    a
    {
        text-decoration: none;
    }  


.CardPlat
{
    background-color: white; /* à vérifier */
    margin: 0 15px 15px 15px;
    border-radius: 13px 15px 13px 13px;

    >.CardPlat__ContPlat
    {
        p
        {
            margin: 0;
            padding: 11px 0 5px 11px;
            font-family: $Police-textegras;
            font-size: 1.1rem;
        }

        .CardPlat__AccPlat
        {
        display: flex;
        justify-content: space-between;

            .CardPLat__Legumes
            {
                font-family: $Police-texteextralight;
                font-size: 0.9rem;
                margin: 0;
                padding: 1px 0 9px 11px;
            }

            .CardPlat__Prix
                {
                    margin: 0;
                    font-family: $Police-textegras;
                    font-size: 0.9rem;
                    padding: 0 18px 9px 0;
                }
            }
        }

        box-shadow: 1px 4px 4px 4px #e8e8e8
    }

    .BtnCommander
    {
        margin: 11% auto 0 auto;
        padding: 15px 0 15px 0;
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        font-family: "Roboto_Regular";
        font-size: 1rem;
        text-align: center;
        color: white;
        border-radius: 28px;
        width: 46%;
        box-shadow: 5px 5px 5px #e8e8e8;
    }
}