.MainPages
{
    margin-top: -16%;
    background-color: #F7F7F7;
    width: 100%;
    border-radius: 39px 39px 0 0;
    padding-bottom: 16%;

    .TitrePrincipal_Pages
    {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;

        .TitreRestau
        {
            font-size: 1.7rem;
            font-weight: 400;
            font-family: $Police-grostitres;
            padding: 28px 0 0 18px;
            margin: 0;
        }

        i
        {
            padding: 38px 33px 0 0;
            font-size: 1.3rem;
            color: white;
            -webkit-text-stroke: 1px black;
        }

    }

    .SousTitre_Page
    {
        font-family: $Police-texteextralight;
        font-size: 1rem;
        margin: 0;
        padding: 28px 0 0 9px;
    }

    .SousTitre_surlignage
    {
       margin: 8px 0 9px 9px;
       width: 11%;
       height: 1%;
       border: 2px solid $couleur_tertiaire;
    }

    a
    {
        text-decoration: none;
    }  


    .CardPlat
    {
        background-color: white; /* à vérifier */
        margin: 0 15px 15px 15px;
        border-radius: 13px 15px 13px 13px;
        box-shadow: 1px 4px 4px 4px #e8e8e8;
        animation: affichage 1s linear;

        @keyframes affichage
        {
            from
            {
                transform: scale(0);
            }

            to
            {
                transform: scale(1);
            }
        }

        .CardPlat__specificite
        {
            display: flex;
            overflow: hidden;

            .CardPlat__ContPlat
            {
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                padding: 11px;

                p
                {
                    margin: 0;
                    font-family: $Police-textegras;
                    font-size: 0.9rem;
                }

                .CardPLat__Principal
                {
                    padding-bottom: 2px;
                }

                .CardPLat__Legumes
                {
                    font-family: $Police-texteextralight;
                    font-size: 0.9rem;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            .CardPlat__Prix
            {
                margin-left: auto;
                display: flex;
                align-items: flex-end;
                padding: 13px;
            }

            .CardPlat__Check
            {
                display: grid;
                place-items: center;
                color: white;
                background-color: #a1f4de;
                border-radius: 0px 13px 13px 0px;
                margin-right: -50px;
                width: 50px;

                .fa-check-circle
                {
                    color: white;
                    font-size: 16px;
                }
            }
        }
    }

    .CardPlat:hover .CardPlat__Check
    {
        transition: all 400ms;  /* revoir les transitions : gros doutes */   /* pas de width , pas de linear car pas d'animation soft */ 
        margin-right: 0;
    }

    .CardPlat:hover .fa-check-circle
    {
        animation: rotation 400ms linear;
    }

    @keyframes rotation
    {
        from
        {
            transform: rotate(-150deg) ;
        }

        to
        {
            transform: rotate(0deg);
        }
    }


    
    
    .BtnCommander
    {
        margin: 11% auto 0 auto;
        padding: 15px 0 15px 0;
        background: linear-gradient(to bottom right, #FF79DA, #9356DC);
        font-family: "Roboto_Regular";
        font-size: 1rem;
        text-align: center;
        color: white;
        border-radius: 28px;
        width: 46%;
        box-shadow: 5px 5px 5px #e8e8e8;
    }

    .DelayAffich200ms
    {
        animation-delay: 200ms;
    }

    .DelayAffich400ms
    {
        animation-delay: 400ms;
    }

    .DelayAffich600ms
    {
        animation-delay: 600ms;
    }

    .DelayAffich800ms
    {
        animation-delay: 800ms;
    }

    .delay1000ms
    {
        animation-delay: 1000ms;
    }

    .DelayAffich1200ms
    {
        animation-delay: 1200ms;
    }

    .DelayAffich1400ms
    {
        animation-delay: 1400ms;
    }

    .DelayAffich1600ms
    {
        animation-delay: 1600ms;
    }

    .DelayAffich1800ms
    {
        animation-delay: 1800ms;
    }

    .DelayAffich2000ms
    {
        animation-delay: 2000ms;
    }
}