@charset "UTF-8";
@font-face {
  font-family: "Shrikhand";
  src: url("../../Police_de_caracteres/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto_Black";
  src: url("../../Police_de_caracteres/roboto/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto_Bold";
  src: url("../../Police_de_caracteres/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto_Regular";
  src: url("../../Police_de_caracteres/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto_Light";
  src: url("../../Police_de_caracteres/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Extralight";
  src: url("../../Police_de_caracteres/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
}

.spinner {
  display: grid;
  place-items: center;
  position: fixed;
  background-color: white;
  height: 100vh;
  inset: 0px;
  z-index: 3;
  opacity: 1;
  color: #9356DC;
  animation: AnimSpinner 1800ms forwards;
}

@keyframes AnimSpinner  /* timing affichage spinner : Les réglages conviennent */ {
  from {
    transform: scale(5);
  }
  to {
    visibility: hidden;
  }
}
.logo_OMF {
  width: 44%;
  display: block;
  margin: 6% auto 4% auto;
}

main {
  margin-top: 4%;
}

form {
  border: none;
  height: 55px;
  margin: 0;
  background-color: #EAEAEA;
  text-align: center;
  box-shadow: inset 0 4px #DDDDDD;
}
form i {
  font-size: 1.1rem;
  line-height: 55px;
}

input {
  border: none;
  outline: none;
  box-shadow: inset 0 4px #DDDDDD;
  text-align: center;
  line-height: 53px;
  background-color: #EAEAEA;
  font-family: "Roboto_Regular";
  font-size: 1.1rem;
  width: 38%;
}

.Entete {
  background-color: #F7F7F7;
  text-align: center;
  padding-bottom: 16%;
}
.Entete h1 {
  margin: 0;
  font-family: "Roboto_Bold";
  font-size: 1.6rem;
  padding: 11% 13% 0 13%;
}
.Entete p {
  margin: 0;
  padding: 17px 13px 33px 13px;
  font-family: "Roboto-Extralight";
  font-size: 1.1rem;
}

a {
  text-decoration: none;
  color: white;
}
a .BtnExploration {
  margin: auto;
  padding: 15px 0 15px 0;
  font-family: "Roboto_Regular";
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-size: 1.1rem;
  border-radius: 28px;
  width: 63%;
  box-shadow: 5px 5px 5px #e8e8e8;
}
a .BtnExploration:hover {
  background: linear-gradient(to bottom right, #ff83dd, #985ede);
  box-shadow: 5px 5px 5px #d9d9d9;
}

h2 {
  font-family: "Roboto_Bold";
  font-size: 1.6rem;
  margin: 0;
  padding: 44px 0px 31px 16px;
}

.ChoixFnctment {
  margin-bottom: 14%;
}

.BtnFnctment {
  display: flex;
}
.BtnFnctment .BtnFnctment__ordre {
  width: 27px;
  height: 27px;
  border-radius: 14px;
  background-color: #9356DC;
  font-family: "Roboto_Regular";
  font-size: 0.9rem;
  color: white;
  text-align: center;
  line-height: 29px;
  margin-top: 26px;
  position: absolute;
  left: 11px;
}
.BtnFnctment .BtnFnctment__Info {
  margin: auto auto 25px auto;
  background-color: #F7F7F7;
  border-radius: 25px;
  width: 91%;
  height: 79px;
  line-height: 79px;
  font-family: "Roboto_Bold";
  font-size: 1.1rem;
  text-align: center;
  box-shadow: 5px 5px 5px #e8e8e8;
}
.BtnFnctment .BtnFnctment__Info i {
  font-size: 1.3rem;
  padding-right: 20px;
  color: #7E7E7E;
}
.BtnFnctment .BtnFnctment__Info:hover {
  background-color: #F5EDFF;
  color: #9356DC;
}
.BtnFnctment .BtnFnctment__Info:hover i {
  color: #9356DC;
}

a {
  text-decoration: none;
}

#ExploreRestau {
  background-color: #F7F7F7;
  font-family: "Roboto_Bold";
  font-size: 1.6rem;
  padding: 13% 0 9% 5%;
  margin: 0;
}

.RestaurantsIndex {
  background-color: #F7F7F7;
  margin: 0;
  padding-bottom: 13%;
}

.CardRestau_index {
  width: 93%;
  background-color: white;
  margin: 0% auto 5% auto;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #e8e8e8;
  position: relative;
}
.CardRestau_index a {
  text-decoration: none;
  color: black;
}
.CardRestau_index .nouveaute {
  width: 27%;
  margin: 0;
  font-family: "Roboto_Bold";
  font-size: 0.9rem;
  height: 29px;
  text-align: center;
  line-height: 31px;
  float: right;
  position: absolute;
  right: 13px;
  bottom: 225px;
}
.CardRestau_index p {
  color: #008766;
  border: 1px solid #99E2D0;
  background-color: #99E2D0;
}
.CardRestau_index .img_restau_index {
  width: 100%;
  object-fit: cover;
  max-height: 189px;
  border-radius: 15px 15px 0 0;
  margin: 0;
}
.CardRestau_index .InfoRestau_index {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.CardRestau_index .InfoRestau_index div {
  margin-left: 16px;
}
.CardRestau_index .InfoRestau_index div p {
  margin: 0;
  background-color: white;
  color: black;
  border: 1px solid white;
}
.CardRestau_index .InfoRestau_index div .nom_restau {
  font-family: "Roboto_Bold";
  font-size: 1.2rem;
  padding: 11px 0 5px 0;
}
.CardRestau_index .InfoRestau_index div .lieu_restau {
  font-family: "Roboto_Light";
  font-size: 1.1rem;
  padding-bottom: 12px;
}
.CardRestau_index .InfoRestau_index div i {
  padding-right: 25px;
  color: white;
  -webkit-text-stroke: 1px black;
  font-size: 22px;
  transition: all 2ms linear;
}
.CardRestau_index .InfoRestau_index div i:hover {
  -webkit-text-stroke: 0.1px transparent;
}
.CardRestau_index .InfoRestau_index div .remplissage {
  position: absolute;
  right: 19px;
  bottom: 28px;
  -webkit-text-fill-color: transparent;
}
.CardRestau_index .InfoRestau_index div .remplissage:hover {
  animation: coeur_remplis 400ms linear forwards;
}
@keyframes coeur_remplis {
  from {
    background: linear-gradient(180deg, #F2F2F2 90%, #9356DC 10%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px black;
  }
  to {
    background: linear-gradient(180deg, #a16be0 10%, #FF79DA 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #FF79DA;
  }
}

@media all and (min-width: 426px) and (max-width: 769px) {
  a .BtnExploration {
    width: 41%;
  }
  .BtnFnctment {
    width: 384px;
    margin: auto;
  }
  .BtnFnctment .BtnFnctment__ordre {
    left: auto;
    margin-left: 5px;
  }
}
@media all and (min-width: 767px) and (max-width: 2561px) {
  main {
    margin-top: 5%;
  }
  main h2 {
    padding-top: 6%;
  }
  main .RestaurantsIndex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
  }
}
@media all and (min-width: 769px) and (max-width: 2561px) {
  .Entete {
    padding-bottom: 9%;
  }
  .Entete h1 {
    padding-top: 5%;
  }
  .BtnFnctment {
    width: 384px;
    margin: auto;
  }
  .BtnFnctment .BtnFnctment__ordre {
    left: auto;
    margin-left: 5px;
  }
}
@media all and (min-width: 850px) and (max-width: 2561px) {
  .ChoixFnctment {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6%;
  }
  #ExploreRestau {
    padding: 9% 0 8% 5%;
  }
}
@media all and (min-width: 715px) and (max-width: 1025px) {
  a .CardRestau_index {
    width: 348px;
    margin: 11px;
  }
}
@media all and (min-width: 769px) and (max-width: 1441px) {
  a .BtnExploration {
    width: 29%;
  }
}
@media all and (min-width: 1025px) and (max-width: 2561px) {
  .CardRestau_index {
    width: 562px;
    margin: 28px;
  }
}
@media all and (min-width: 1441px) and (max-width: 2561px) {
  .index {
    margin-top: 6%;
  }
  a .BtnExploration {
    width: 38%;
  }
}
nav {
  display: flex;
  justify-content: flex-start;
}

.lien {
  text-align: center;
  font-size: 1.1rem;
  width: 16%;
  height: 69px;
  line-height: 72px;
  margin-left: 18px;
}
.lien a {
  color: black;
}

img {
  background-image: url(./images/ohmyfood.png);
  width: 161px;
  margin: 6% 29% 5% 15%;
}

.Banniere_ALaFrancaise {
  background-image: url(../../images/images_index/A_la_francaise.jpg);
  height: 284px;
  background-size: cover;
}

.Banniere_LaNoteEnchantee {
  background-image: url(../../images/images_index/La_note_enchantee.jpg);
  height: 287px;
  background-size: cover;
  background-position: center;
}

.Banniere_LaPaletteDuGout {
  background-image: url(../../images/images_index/La_palette_du_gout.jpg);
  height: 264px;
  background-size: cover;
}

.Banniere_LeDeliceDesSens {
  background-image: url(../../images/images_index/Le_delice_des_sens.jpg);
  height: 264px;
  background-size: cover;
}

@media all and (min-width: 426px) and (max-width: 769px) {
  .lien {
    font-size: 1.5rem;
    line-height: 119px;
  }
  .Banniere_ALaFrancaise, .Banniere_LaPaletteDuGout, .Banniere_LaNoteEnchantee, .Banniere_LeDeliceDesSens {
    height: 381px;
  }
}
@media all and (min-width: 769px) and (max-width: 2559px) {
  .lien {
    font-size: 1.5rem;
    line-height: 161px;
  }
  .Banniere_ALaFrancaise, .Banniere_LaPaletteDuGout, .Banniere_LaNoteEnchantee, .Banniere_LeDeliceDesSens {
    height: 491px;
  }
}
@media all and (min-width: 2559px) {
  body {
    margin: 0 450px 0 450px;
  }
  .lien {
    font-size: 1.5rem;
    line-height: 229px;
  }
  .Banniere_ALaFrancaise, .Banniere_LaPaletteDuGout, .Banniere_LaNoteEnchantee, .Banniere_LeDeliceDesSens {
    height: 534px;
  }
}
.MainPages {
  margin-top: -13%;
  background-color: #F7F7F7;
  width: 100%;
  border-radius: 39px 39px 0 0;
  padding-bottom: 14%;
}
.MainPages .TitrePrincipal_Pages {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0;
}
.MainPages .TitrePrincipal_Pages .TitreRestau {
  font-size: 1.8rem;
  font-weight: 400;
  font-family: "Shrikhand";
  padding: 31px 0 0 18px;
  margin: 0;
}
.MainPages .TitrePrincipal_Pages i {
  padding: 38px 33px 0 0;
  font-size: 1.4rem;
  color: white;
  -webkit-text-stroke: 1px black;
}
.MainPages .SousTitre_Page {
  font-family: "Roboto-Extralight";
  font-size: 1rem;
  margin: 0;
  padding: 28px 0 0 9px;
}
.MainPages .SousTitre_surlignage {
  margin: 6px 0 13px 9px;
  width: 41px;
  height: 1%;
  border: 2px solid #99E2D0;
}
.MainPages a {
  text-decoration: none;
}
.MainPages .CardPlat {
  background-color: white; /* à vérifier */
  margin: 0 15px 15px 15px;
  border-radius: 13px 15px 13px 13px;
  box-shadow: 1px 4px 4px 4px #e8e8e8;
  animation: affichage 1s linear;
  display: flex;
  overflow: hidden;
}
@keyframes affichage {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    box-shadow: 1px 4px 4px 4px #e8e8e8;
  }
}
.MainPages .CardPlat .CardPlat__ContPlat {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 13px 11px 13px 11px;
}
.MainPages .CardPlat .CardPlat__ContPlat p {
  margin: 0;
  font-family: "Roboto_Bold";
  font-size: 1.1rem;
}
.MainPages .CardPlat .CardPlat__ContPlat .CardPLat__Principal {
  padding-bottom: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.MainPages .CardPlat .CardPlat__ContPlat .CardPLat__Legumes {
  font-family: "Roboto-Extralight";
  font-size: 1rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.MainPages .CardPlat .CardPlat__Prix {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
  padding: 11px;
  font-family: "Roboto_Regular";
}
.MainPages .CardPlat .CardPlat__Check {
  display: grid;
  place-items: center;
  color: white;
  background-color: #a1f4de;
  border-radius: 0px 13px 13px 0px;
  margin-right: -58px;
  width: 58px;
}
.MainPages .CardPlat .CardPlat__Check .fa-check-circle {
  color: white;
  font-size: 22px;
}
.MainPages .CardPlat:hover .CardPlat__Check {
  transition: all 400ms; /* revoir les transitions : gros doutes */ /* pas de width , pas de linear car pas d'animation soft */
  margin-right: 0;
}
.MainPages .CardPlat:hover .fa-check-circle {
  animation: rotation 400ms linear;
}
@keyframes rotation {
  from {
    transform: rotate(-150deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.MainPages a {
  text-decoration: none;
  color: white;
}
.MainPages a .BtnCommander {
  margin: 11% auto 0 auto;
  padding: 15px 0 15px 0;
  background: linear-gradient(to bottom right, #FF79DA, #9356DC);
  font-family: "Roboto_Regular";
  font-size: 1.1rem;
  text-align: center;
  border-radius: 28px;
  width: 49%;
  box-shadow: 5px 5px 5px #e8e8e8;
}
.MainPages a .BtnCommander:hover {
  background: linear-gradient(to bottom right, #ff83dd, #985ede);
  box-shadow: 5px 5px 5px #b5b5b5;
}
.MainPages .DelayAffich200ms {
  animation-delay: 200ms;
}
.MainPages .DelayAffich400ms {
  animation-delay: 400ms;
}
.MainPages .DelayAffich600ms {
  animation-delay: 600ms;
}
.MainPages .DelayAffich800ms {
  animation-delay: 800ms;
}
.MainPages .delay1000ms {
  animation-delay: 1000ms;
}
.MainPages .DelayAffich1200ms {
  animation-delay: 1200ms;
}
.MainPages .DelayAffich1400ms {
  animation-delay: 1400ms;
}
.MainPages .DelayAffich1600ms {
  animation-delay: 1600ms;
}
.MainPages .DelayAffich1800ms {
  animation-delay: 1800ms;
}
.MainPages .DelayAffich2000ms {
  animation-delay: 2000ms;
}

@media all and (min-width: 426px) and (max-width: 850px) {
  .MainPages .SectionPages {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .MainPages .CardPlat {
    width: 336px;
    margin: 15px;
  }
}
@media all and (min-width: 850px) and (max-width: 2561px) {
  .MainPages {
    padding-bottom: 9%;
  }
  .MainPages .SectionPages {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .MainPages .SousTitre_surlignage {
    width: 8%;
  }
  .MainPages .CardPlat {
    width: 331px;
    margin: 15px auto 11px auto;
  }
  .MainPages a .BtnCommander {
    width: 386px;
    margin: 6% auto 0 auto;
  }
}
footer {
  background-color: #353535;
  color: white;
  padding-bottom: 28px;
}
footer p {
  font-family: "Shrikhand";
  font-size: 1.2rem;
  margin: 0;
  padding: 6% 0 5% 9%;
}

ul {
  list-style: none;
  margin: 0 0 0 8%;
  padding: 0;
}
ul li {
  padding-bottom: 7px;
}
ul a {
  text-decoration: none;
  color: white;
  font-family: "Roboto_Regular";
  font-size: 1.1rem;
}
ul a i {
  padding-right: 6px;
  font-size: 0.9rem;
}
ul a .fa-handshake-angle {
  font-size: 0.7rem;
}

@media all and (min-width: 768px) and (max-width: 2561px) {
  footer p {
    padding: 28px 0 28px 46px;
  }
}

/*# sourceMappingURL=styles.css.map */
