@font-face {
  font-family: "Shrikhand";
  src: url("../../Police_de_caracteres/Shrikhand/Shrikhand-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto_Black";
  src: url("../../Police_de_caracteres/roboto/Roboto-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto_Bold";
  src: url("../../Police_de_caracteres/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto_Regular";
  src: url("../../Police_de_caracteres/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto_Light";
  src: url("../../Police_de_caracteres/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Extralight";
  src: url("../../Police_de_caracteres/roboto/Roboto-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@media all and (max-width: 426px) {
  body {
    margin: 0;
  }
  .logo_OMF {
    width: 41%;
    display: block;
    margin: 21px auto 18px auto;
  }
  form {
    border: none;
    height: 55px;
    margin: 0;
    background-color: #EAEAEA;
    text-align: center;
  }
  form i {
    font-size: 1.1rem;
    line-height: 55px;
  }
  input {
    border: none;
    outline: none;
    text-align: center;
    line-height: 53px;
    background-color: #EAEAEA;
    font-family: "Roboto_Regular";
    font-size: 1.1rem;
    width: 35%;
  }
  .Entete {
    background-color: #F7F7F7;
    text-align: center;
    padding-bottom: 16%;
  }
  .Entete h1 {
    margin: 0;
    font-family: "Roboto_Black";
    font-size: 1.6rem;
    padding: 11% 13% 0 13%;
  }
  .Entete p {
    margin: 0;
    padding: 16px 13px 33px 13px;
    font-family: "Roboto-Extralight";
    font-size: 1.1rem;
  }
  .btn_header {
    margin: auto;
    padding: 15px 0 15px 0;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    font-family: "Roboto_Regular";
    font-size: 1.1rem;
    color: white;
    border: 1px solid #9356DC;
    border-radius: 28px;
    width: 63%;
    box-shadow: 5px 5px 5px #e8e8e8;
  }
  header h2 {
    font-family: "Roboto_Black";
    font-size: 1.6rem;
    margin: 0;
    padding: 43px 0px 31px 16px;
  }
}
.btn_fonctionnement {
  width: 85%;
  height: 78px;
  margin: auto auto 25px auto;
  background-color: #F7F7F7;
  text-align: center;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #e8e8e8;
}
.btn_fonctionnement .fa-circle {
  font-size: 1.3rem;
  z-index: 1;
}
.btn_fonctionnement p {
  display: inline;
  font-family: "Roboto_Bold";
  font-size: 1.3rem;
  line-height: 78px;
  z-index: 2;
}
.btn_fonctionnement p .fa-sharp {
  font-size: 1.3rem;
  padding-right: 20px;
}

main {
  background-color: #F7F7F7;
  margin-top: 21%;
  padding-bottom: 18%;
}
main h2 {
  font-family: "Roboto_Black";
  font-size: 1.7rem;
  padding: 14% 0 1% 5%;
}

figure {
  width: 93%;
  margin: auto;
  background-color: white;
  margin: 6% auto auto auto;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #e8e8e8;
}
figure .img_restau_index {
  width: 100%;
  object-fit: cover;
  max-height: 198px;
  border-radius: 15px 15px 0 0;
}
figure figcaption {
  display: flex;
  justify-content: space-between;
}
figure figcaption div {
  margin-left: 16px;
}
figure figcaption div p {
  margin: 0;
}
figure figcaption div .nom_restau {
  font-family: "Roboto_Black";
  font-size: 1.3rem;
  padding: 15px 0 5px 0;
}
figure figcaption div .lieu_restau {
  font-family: "Roboto_Light";
  font-size: 1.2rem;
  padding-bottom: 19px;
}

footer {
  background-color: #0E0E0E;
  color: white;
}
footer p {
  font-family: "Shrikhand";
  font-size: 1.2rem;
  margin: 0;
  padding: 6% 0 6% 9%;
}
footer ul {
  list-style: none; /* Rajouter font-family et font-size*/
  margin: 0 0 0 6%;
  padding: 0;
}
footer ul li {
  padding-bottom: 11px;
}
footer ul a {
  text-decoration: none;
  color: white;
}
footer ul a i {
  padding-right: 6px;
  font-size: 13px;
}

/*# sourceMappingURL=styles.css.map */
