body
{
    margin: 0;
}

.spinner
{
    display: grid;
    place-items: center;
    position: fixed;
    background-color: white;
    height: 100vh;
    inset: 0px;
    z-index: 3;
    opacity: 1;
    color: $Couleur_premiere;
    animation: AnimSpinner 1800ms forwards;
}
    
@keyframes AnimSpinner  /* timing affichage spinner : Les réglages conviennent */
{
    
    from
    
    {
        transform: scale(5);
    }
    
    
    to
    {
        visibility: hidden;
    }
}

.logo_OMF
{
    width: 43%;
    display: block;
    margin: 21px auto 18px auto;
}

form
{
    border: none;
    height: 55px;
    margin: 0;
    background-color: #EAEAEA; 
    text-align: center;
    box-shadow: inset 0 4px #DDDDDD;
    i
        {
            font-size: 1.1rem;
            line-height: 55px;
        }
    }

    input
    {
        border: none;
        outline: none;
        box-shadow: inset 0 4px #DDDDDD;
        text-align: center;
        line-height: 53px;
        background-color: #EAEAEA; 
        font-family: $Police-textenormal;
        font-size: 1.1rem;
        width: 38%;
    }


.Entete    
    {
        background-color: #F7F7F7;
        text-align: center;
        padding-bottom: 16%;

        h1
        {
            margin: 0;
            font-family: $Police-textegras;
            font-size: 1.6rem;
            padding:11% 13% 0 13%;
        }  

        p
        {
            margin:0;
            padding: 17px 13px 33px 13px;
            font-family: $Police-texteextralight;
            font-size: 1.1rem;
        }
        
    }

a
{  
    text-decoration: none;
    color: white;

    .BtnExploration
    {
        margin: auto;
        padding: 15px 0 15px 0;
        font-family: $Police-textenormal;
        background: $degrade;
        font-size: 1.1rem;
        border-radius: 28px;
        width: 63%;
        box-shadow: 5px 5px 5px #e8e8e8;
            
        &:hover
        {
            background: $degrade_claire;
            box-shadow:  5px 5px 5px darken(#e8e8e8,6%)
        }

    }
}

header h2
    {
        font-family: $Police-textegras;
        font-size: 1.6rem;
        margin: 0;
        padding: 44px 0px 31px 16px; 
    }

.BtnFnctment
{
    display: flex;
        
    .BtnFnctment__ordre
    {
        width: 27px;
        height:27px;
        border-radius: 14px;
        background-color: $Couleur_premiere;
        font-family: $Police-textenormal;
        font-size: 0.9rem;
        color: white;
        text-align: center;
        line-height: 29px;
        margin-top: 26px;
        position: absolute;
        left: 11px;
    }
    
    .BtnFnctment__Info
    {
        margin: auto auto 25px auto;
        background-color: #F7F7F7;
        border-radius: 25px;
        width: 91%;
        height: 79px;
        line-height: 79px;
        font-family: $Police-textegras;
        font-size: 1.1rem;
        text-align: center;
        box-shadow: 5px 5px 5px #e8e8e8;  
    
        i
        {
            font-size: 1.3rem;
            padding-right: 20px;
            color: #7E7E7E;
        }
                
        &:hover
        {
            background-color:#F5EDFF;
            color: $Couleur_premiere;

            i
            {
                color: $Couleur_premiere;
            }
        }
    }
}

@media all and (min-width:426px) and (max-width:769px)
{
    a
    {
        .BtnExploration
        {
            width: 41%;
        }
    }

    .BtnFnctment
    {
        width: 384px; /* style identique avec les écrans pc 1024 : ne faire qu'un média quéry*/
        margin: auto;

        .BtnFnctment__ordre
        {
            left: auto;      /* style identique avec les écrans pc 1024 : ne faire qu'un média quéry*/
            margin-left: 5px
        }
    }
}

@media all and (min-width: 769px) and (max-width: 2561px)
{
    .Entete
    {
        padding-bottom: 9%;

        h1
        {
            padding-top: 5%;
        }
    }

    .BtnFnctment
    {
        width: 384px;
        margin: auto;

        .BtnFnctment__ordre
        {
            left: auto;
            margin-left: 5px
        }
    }
}

@media all and (min-width: 769px) and (max-width:1441px)
{
    a
    {
        .BtnExploration
        {
            width: 29%;
        }
    }

}

@media all and (min-width: 1441px) and (max-width:2561px)
{
    a
    {
        .BtnExploration
            {
                width: 38%;
            }
    }
}
