    body
    {
        margin: 0;
    }

    .spinner
    {
        display: grid;
        place-items: center;
        position: fixed;
        background-color: white;
        height: 100vh;
        inset: 0px;
        z-index: 3;
        opacity: 1;
        animation: AnimSpinner 1800ms forwards;
    }
    
    @keyframes AnimSpinner  /* timing affichage spinner : Les réglages conviennent */
    {
    
        from
    
        {
            transform: scale(5);
        }
    
    
        to
        {
            visibility: hidden;
        }
    
    }

    .logo_OMF
    {
        width: 41%;
        display: block;
        margin: 21px auto 18px auto;
    }

    form
    {
        border: none;
        height: 55px;
        margin: 0;
        background-color: #EAEAEA; 
        text-align: center;
        box-shadow: inset 0 4px #DDDDDD;
        i
        {
            font-size: 1.1rem;
            line-height: 55px;
        }
    }

    input
    {
        border: none;
        outline: none;
        box-shadow: inset 0 4px #DDDDDD;
        text-align: center;
        line-height: 53px;
        background-color: #EAEAEA; 
        font-family: $Police-textenormal;
        font-size: 1.1rem;
        width: 38%;
    }


.Entete    
    {
        background-color: #F7F7F7;
        text-align: center;
        padding-bottom: 16%;

        h1
        {
            margin: 0;
            font-family: $Police-titres;
            font-size: 1.7rem;
            padding:11% 13% 0 13%;
        }  

        p
        {
            margin:0;
            padding: 16px 13px 33px 13px;
            font-family: $Police-texteextralight;
            font-size: 1.2rem;
        }
        
    }

    a
    {  
        text-decoration: none;
        color: white;

        .btn_header
        {
            margin: auto;
            padding: 15px 0 15px 0;
            font-family: $Police-textenormal;
            background: $degrade;
            font-size: 1.1rem;
            border-radius: 28px;
            width: 63%;
            box-shadow: 5px 5px 5px #e8e8e8;
            
            &:hover
            {
                background: $degrade_claire;
                box-shadow:  5px 5px 5px darken(#e8e8e8,6%)
            }

        }
    }

header h2
    {
        font-family: $Police-titres;
        font-size: 1.6rem;
        margin: 0;
        padding: 43px 0px 31px 16px; 
    }
