.btn_fonctionnement
    {
    display: flex;

        .btn_ordre
        {
            width: 29px;
            height:29px;
            border-radius: 14px;
            background-color: $Couleur_premiere;
            font-family: $Police-textenormal;
            font-size: 0.9rem;
            color: white;
            text-align: center;
            line-height: 29px;
            margin-top: 26px;
            position: absolute;
            left: 11px;
        }

        p
            {
                margin: auto auto 25px auto;
                background-color: #F7F7F7;
                border-radius: 25px;
                width: 91%;
                height: 83px;
                line-height: 83px;
                font-family: $Police-textegras;
                font-size: 1.2rem;
                text-align: center;

                .fa-sharp
                {
                    font-size: 1.3rem;
                    padding-right: 20px;
                }
                
                box-shadow: 5px 5px 5px #e8e8e8
            }
    }

main
{
    background-color: #F7F7F7;
    margin-top: 16%;
    padding-bottom: 19%;

    h2
    {
        font-family: $Police-titres;
        font-size: 1.7rem;
        padding: 14% 0 1% 5%;
    }
}

figure
{
    width: 93%;
    margin: auto;
    background-color: white;
    margin: 6% auto auto auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #e8e8e8;

    .img_restau_index
    {
        width: 100%;
        object-fit: cover;
        max-height: 198px;
        border-radius: 15px 15px 0 0;
    }

    figcaption
    {
        display: flex;
        justify-content: space-between;

        div
        {
            margin-left: 16px;

            p
            {
                margin: 0;
            }

            .nom_restau
            {
                font-family: $Police-titres;
                font-size: 1.3rem;
                padding: 15px 0 5px 0;
            }
            
            .lieu_restau
            {
                font-family: $Police-textelight;
                font-size: 1.2rem;
                padding-bottom: 19px;
            }
        }
    }

}
