.btn_fonctionnement
    {
    display: flex;

        .btn_ordre
        {
            width: 27px;
            height:27px;
            border-radius: 14px;
            background-color: $Couleur_premiere;
            font-family: $Police-textenormal;
            font-size: 0.9rem;
            color: white;
            text-align: center;
            line-height: 29px;
            margin-top: 26px;
            position: absolute;
            left: 11px;

        }

        p
            {
                margin: auto auto 25px auto;
                background-color: #F7F7F7;
                border-radius: 25px;
                width: 91%;
                height: 79px;
                line-height: 79px;
                font-family: $Police-textegras;
                font-size: 1.1rem;
                text-align: center;

                i
                {
                    font-size: 1.3rem;
                    padding-right: 20px;
                    color: #7E7E7E;
                }

                i:hover
                {
                    color: $Couleur_premiere;
                }
            box-shadow: 5px 5px 5px #e8e8e8
            }

        p:hover
            {
                background-color:#F5EDFF;
            }
    }

main
{
    background-color: #F7F7F7;
    margin-top: 16%;
    padding-bottom: 16%;

    h2
    {
        font-family: $Police-titres;
        font-size: 1.7rem;
        padding: 14% 0 0 5%;
    }
}

.CardRestau_index
{
    width: 93%;
    margin: auto;
    background-color: white;
    margin: 5% auto 5% auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #e8e8e8;

    a
    {
        text-decoration: none;
        color: black;
    }

    .nouveaute
    {
        width: 27%;
        margin: 0;
        font-family: $Police-textegras;
        font-size: 1rem;
        height: 29px;
        text-align: center;
        line-height: 31px;
        float: right;
        position: relative;
        right: 13px;
        bottom: 180px;
    }

    p
    {
        color: #008766;
        border: 1px solid #99E2D0;
        background-color: #99E2D0;
    }

    .img_restau_index
    {
        width: 100%;
        object-fit: cover;
        max-height: 192px;
        border-radius: 15px 15px 0 0;
    }

   .InfoRestau_index
    {
        display: flex;
        justify-content: space-between;

        div
        {
            margin-left: 16px;

            p
            {
                margin: 0;
                background-color: white;
                color: black;
                border: 1px solid white;
            }

            .nom_restau
            {
                font-family: $Police-titres;
                font-size: 1.2rem;
                padding: 11px 0 5px 0;
            }
            
            .lieu_restau
            {
                font-family: $Police-textelight;
                font-size: 1.1rem;
                padding-bottom: 12px;
            }
        }
    }

}
