.MainPages
{
    margin: 0;
    background-color: #F7F7F7;
    width: 100%;
    border-radius: 45px 45px 0 0;
    position: relative;
    bottom: 62px;
    padding-bottom: 16%;

    h1
    {
        font-size: 1.6rem;
        font-family: 'Shrikhand';
        padding: 21px 0 0 6px;
    }
}