main
{
    background-color: #F7F7F7;
    margin-top: 15%;
    padding-bottom: 16%;

    h2
    {
        font-family: $Police-titres;
        font-size: 1.6rem;
        padding: 14% 0 0 5%;
    }
}

a
{
    text-decoration: none;
}

.CardRestau_index
{
    width: 93%;
    background-color: white;
    margin: 5% auto 5% auto;
    border-radius: 15px;
    box-shadow: 5px 5px 5px #e8e8e8;
    position: relative;

    a
    {
        text-decoration: none;
        color: black;
    }

    .nouveaute
    {
        width: 27%;
        margin: 0;
        font-family: $Police-textegras;
        font-size: 0.9rem;
        height: 29px;
        text-align: center;
        line-height: 31px;
        float: right;
        position: absolute;
        right: 13px;
        bottom: 225px;
    }

    p
    {
        color: #008766;
        border: 1px solid #99E2D0;
        background-color: #99E2D0;
    }

    .img_restau_index
    {
        width: 100%;
        object-fit: cover;
        max-height: 189px;
        border-radius: 15px 15px 0 0;
        margin: 0;
    }

   .InfoRestau_index
    {
        display: flex;
        justify-content: space-between;
        align-items: center;

        div
        {
            margin-left: 16px;

            p
            {
                margin: 0;
                background-color: white;
                color: black;
                border: 1px solid white;
            }

            .nom_restau
            {
                font-family: $Police-titres;
                font-size: 1.2rem;
                padding: 11px 0 5px 0;
            }
            
            .lieu_restau
            {
                font-family: $Police-textelight;
                font-size: 1.1rem;
                padding-bottom: 12px;
            }
        }

        div
        {

            i
            {
                padding-right: 25px;
                color:white;
                -webkit-text-stroke: 1px black;
                font-size: 22px;
                transition: all 400ms linear;

                &:hover
                { 
                    -webkit-text-stroke: 0.5px #FF79DA;
                } 
            } 

            .remplissage 
            {
                position: absolute;
                right: 19px;
                bottom: 28px;
                -webkit-text-fill-color: transparent;
            }

            .remplissage:hover
            {
                animation: coeur_remplis 400ms linear forwards;
            }

            @keyframes coeur_remplis
            {
                from
                {
                    background: linear-gradient(180deg, #F2F2F2 90%, $Couleur_premiere 10%);
                    -webkit-background-clip: text ;
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke: 1px black;
                }

                to
                {
                    background: linear-gradient(180deg, $Couleur_VioletCoeur 10%, #FF79DA 90%);
                    -webkit-background-clip: text ;
                    -webkit-text-fill-color: transparent;
                    -webkit-text-stroke: 1px #FF79DA;
                }
            }
        }
    }
}

@media all and (min-width:767px) and (max-width:2561px)
{
    main
    {
        margin-top: 6%;
        padding-bottom: 9%;

        h2
        {
            padding-top: 6%;
        }

        .RestaurantsIndex
        { 
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;  
            width: 100%;
            margin: 0;
            padding: 0;
        }
    }
}

@media all and (min-width:767px) and (max-width: 1025px)
{
    a
    {
        .CardRestau_index
        {
            width: 348px;
            margin: 11px;
        }
    }
}

@media all and (min-width:1025px) and (max-width: 2561px)
{
        .CardRestau_index
        {
            width: 562px;
            margin: 28px;
        }
}


@media all and (min-width: 1441px) and (max-width:2561px)
{
    .index
    {
        margin-top: 6%;
    }
}

