$Police-grostitres: Shrikhand;
$Police-titres: Roboto_Black;
$Police-textegras: Roboto_Bold;
$Police-textelight: Roboto_Light;

$Couleur_premiere: #9356DC;
$Couleur_secondaire: #FF79DA;
$couleur_tertaire: #99E2D0;