$Police-grostitres: Shrikhand;
$Police-titres: Roboto_Black;
$Police-textegras: Roboto_Bold;
$Police-textelight: Roboto_Light;
$Police-texteextralight: Roboto_Extralight;

$Couleur_premiere: #9356DC;
$Couleur_secondaire: #FF79DA;
$couleur_tertiaire: #99E2D0;